---
layout: layouts/home.njk
title: Projects
---
<p class="prompt">ls -la /projects/</p><h1>Projects</h1>
<div class="directory"><a href="/blog/the-agon-light-2/">agon-light-2.txt</a><a href="/blog/hello-zx-spectrum/">hello-zx-spectrum.txt</a><a href="/blog/olimex-rvpc/">olimex-rvpc.txt</a></div>
